<h1>Games</h1>
<div class="container">
<div class="row">
    <div class="span8" id="games">
        Loading...
    </div>
    <div class="span3 well" id="players">
        Loading...
    </div>
</div>
</div>