<!DOCTYPE HTML>
<html>
<head>
    <script src="/jquery-1.8.0.min.js"></script>
    <script src="/bootstrap.js"></script>
    <script src="/games.js"></script>
    <link href="/bootstrap.css" rel="stylesheet"/>
    <link href="/games.css" rel="stylesheet"/>
</head>
<body data-spy="scroll" data-target=".sidebar">
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">SmartDog</a>
        <ul class="nav">
            <li class="active"><a href="/">Игры</a></li>
            <li><a href="/rules.html">Правила</a></li>
            <li><a href="/download.html">Скачать</a></li>
        </ul>
    </div>
</div>
<%- body %>
</body>
</html>