<% //layout options;
subtitle = ' :: Главная';
active_page = '' %>

<div class="container well">
    <h2>Добро пожаловать на сервер игры SmartDog!</h2>
            <section id="intro">
                <h1>Вступление</h1>
                <p>SmartDog создавался по образу и подобию <a href="http://aichallenge.org">Google AI Challenge</a>, поэтому суть такая же: есть игра с несложными правилами, для которой нужно написать бота. Боты "сражаются" между собой, и по итогам сражений определяется победитель.
                </p>
                <p>Вкратце правила таковы: есть поле, на котором присутствуют собаки игроков и овцы. Каждый игрок должен загнать как можно большее количество овец в свой загон, управляя собаками.</p>
                <p>Вот как примерно это может выглядеть:</p>
                <div class="well">
                    <canvas class="demo" data-name="real"></canvas>
                </div>


            </section>
</div>

<link href="ui-lightness/jquery-ui-1.8.23.custom.css" rel="stylesheet"/>
<script src="jquery-ui-1.8.23.custom.min.js"></script>
<script src="canvas-css.js"></script>
<script src="renderer.js"></script>
