<!DOCTYPE HTML>
<html>
<head>
    <script src="jquery-1.8.0.min.js"></script>
    <script src="bootstrap.js"></script>
    <script src="socket.io.min.js"></script>
    <script src="renderer.js"></script>
    <script src="webclient.js"></script>
    <link href="bootstrap.css" rel="stylesheet"/>
    <link href="games.css" rel="stylesheet"/>
</head>
<body data-id="<%= player.name %>">
<h1>Player <%= player.name %></h1>
<!-- TODO -->
</body>
</html>