<link href="ui-lightness/jquery-ui-1.8.23.custom.css" rel="stylesheet"/>
<h1 data-id="<%= game.getId() %>">Game <%= game.getId() %>
<small><%= game.getMapName() %></small>
</h1>
<p class="players info"></p>
<p class="alert alert-error hidden"></p>
<br>

<canvas id="game">
    Loading...
</canvas>
<br/>

<script src="jquery-ui-1.8.23.custom.min.js"></script>
<script src="socket.io.min.js"></script>
<script src="canvas-css.js"></script>
<script src="renderer.js"></script>
<script src="webclient.js"></script>
