/* Rules page */

.rules {
    padding-top: 100px;
}

.sidebar ul {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .nav-list > li > a {
    margin: 0;
}

.sidebar .nav-list > li.l2 {
    padding-left: 10px;
}

#api .label i {
    margin-top: 0;
}

#client table th {
    background-color: #e9e9ff;
    border-color: #c8d6e6;
}

/* View page */
.hidden {
    display: none;
}

.error-info {
    margin-left: 0;
    padding-right: 24px;
    margin-bottom: 0;
    width: 100%;
}

.players {
    float: right;
}

.game-result {
    margin-bottom: 0;
    padding-bottom: 0;
}
.players-info div {
    display: inline-block;
    height: 100px;
    width: 100px;
    position: relative;
    margin: 10px;
    box-shadow: #003580 0px 0px 2px;
    margin-bottom: 0;
}

.players-info span {
    position: absolute;
    left: 0;
    bottom: 0px;
    right: 0;
    height: 20px;
    background-color: white;
    opacity: 0.9;
}

.players-info em {
    position: absolute;
    right: 4px;
    bottom: 0;
    height: 20px;
    font-weight: bold;

}

.players-info {
    display: inline-block;
    padding-bottom: 0;
}

.players-info div.winner {
    -webkit-box-shadow: 0px 0px 4px 2px #ffd700; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    box-shadow: 0px 0px 4px 2px #ffd700; /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
}

.players-info div.winner em {
    font-size: 150%;
}

/* Game viewer */

.game-view {
    text-align: center;
}

.game-view .controls {
    margin-left: auto;
    margin-right: auto;
}

.controls .slider {
    margin-top: 8px;
    left: 90px;
    right: 70px;
    position: absolute;
}
.controls .play,
.controls .stop {
    float: left;
    margin-left: 5px;
}

.controls .turn-container {
    float: right;
    padding-left: 5px;
    margin-top: 5px;
    font-size: 9pt;
}

.controls {
    margin-bottom: 5px;
    position: relative;
}


/* Rendering */

.player1 {
    color: red;
    background-color: #ffd4cd;
    background-image: url(./images/20px-Husky-icon.png);
    background-repeat: no-repeat;
}

.players-info .player1 {
    background-image: url(./images/100px-Husky-icon.png)
}


.player2 {
    color: green;
    background-color: #c8ecbf;
    background-image: url(./images/20px-Dutch_Shepherd-icon.png);
    background-repeat: no-repeat;
}

.players-info .player2 {
    background-image: url(./images/100px-Dutch_Shepherd-icon.png)
}

.player3 {
    color: blue;
    background-color: #cfccff;
    background-image: url(./images/20px-Golden_Retriever-icon.png)
}
.players-info .player3 {
    background-image: url(./images/100px-Golden_Retriever-icon.png)
}

.player4 {
    color: purple;
    background-color: #f6c3f9;
    background-image: url(./images/20px-Welsh_Terrier-icon.png)
}
.players-info .player4 {
    background-image: url(./images/100px-Welsh_Terrier-icon.png)
}

.grass {
    background-color: #94d723;
    background-image: url(./images/grass.png);
}

.wall {
    background-color: #915d12;
    background-image: url(./images/wall.png);
}

.tree {
    background-image: url(./images/tree.png);
    background-color: #00ff00;
}

.sheep {
    background-color: #ffffff;
    background-image: url(./images/20px-Sheep-icon.png);
}

.scared {
    background-image: url(./images/20px-Brown_Sheep-icon.png);
    color: #ff0000;
    background-color: #ff0000;
}

.barking {
    background-color: #ffffff;
    color: red;
}

.barking-area {
    opacity: 0.2;
}

.player-area {
    opacity: 0.3;
}

.arrow {
    background-color: #00ff00;
    color: #00ff00;
}

.helped {
    color: #00f2ff;
    background-color: #cbd100;
}