body {
    padding-top: 40px;
}

.rules {
    padding-top: 100px;
}

.controls .slider {
    margin-top: 8px;
    left: 90px;
    right: 100px;
    position: absolute;
}
.controls .play,
.controls .stop {
    float: left;
    margin-left: 5px;
}

.controls .turn-container {
    float: right;
    padding-left: 5px;
    margin-top: 5px;
}

.controls {
    margin-bottom: 5px;
    position: relative;
}


.info div {
    display: inline-block;
    height: 100px;
    width: 100px;
    position: relative;
    margin: 10px;
    box-shadow: #003580 0px 0px 2px;
    margin-bottom: 0;
}

.info span {
    position: absolute;
    left: 0;
    bottom: 0px;
    right: 0;
    height: 20px;
    background-color: white;
    opacity: 0.9;
}

.info em {
    position: absolute;
    right: 4px;
    bottom: 0;
    height: 20px;
    font-weight: bold;

}

.info {
    display: inline-block;
    padding-bottom: 0;
}


.alert {
    display: inline-block;
}

.player1 {
    color: red;
    background-color: #ffd4cd;
    background-image: url(./images/20px-Husky-icon.png);
    background-repeat: no-repeat;
}

.info .player1 {
    background-image: url(./images/100px-Husky-icon.png)
}


.player2 {
    color: green;
    background-color: #c8ecbf;
    background-image: url(./images/20px-Dutch_Shepherd-icon.png);
    background-repeat: no-repeat;
}

.info .player2 {
    background-image: url(./images/100px-Dutch_Shepherd-icon.png)
}

.player3 {
    color: blue;
    background-color: #cfccff;
    background-image: url(./images/20px-Golden_Retriever-icon.png)
}
.info .player3 {
    background-image: url(./images/100px-Golden_Retriever-icon.png)
}

.player4 {
    color: purple;
    background-color: #f6c3f9;
    background-image: url(./images/20px-Welsh_Terrier-icon.png)
}
.info .player4 {
    background-image: url(./images/100px-Welsh_Terrier-icon.png)
}

.grass {
    background-color: #94d723;
    background-image: url(./images/grass.png);
}

.wall {
    background-color: #915d12;
}

.tree {

}

.sheep {
    background-color: #ffffff;
    background-image: url(./images/20px-Sheep-icon.png);
}

.scared {
    background-image: url(./images/20px-Brown_Sheep-icon.png);
    color: #ff0000;
    background-color: #ff0000;
}

.barking {
    background-color: #ffffff;
    color: red;
}

.barking-area {
    opacity: 0.3;
}

.arrow {
    background-color: #00ff00;
    color: #00ff00;
}

.helped {
    color: #00f2ff;
    background-color: #cbd100;
}